<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Paciente - Medicenter</title>
</head>
<body>

<h1>Cadastro de Paciente</h1>

<form th:action="@{/pacientes/salvar}" th:object="${paciente}" method="post">

    <input type="hidden" th:field="*{id}">

    <p>
        <label>Nome</label><br>
        <input type="text" th:field="*{nome}" required>
    </p>

    <p>
        <label>CPF</label><br>
        <input type="text" th:field="*{cpf}" required>
    </p>

    <p>
        <label>Data de nascimento</label><br>
        <input type="date" th:field="*{dataNascimento}">
    </p>

    <p>
        <label>Telefone</label><br>
        <input type="text" th:field="*{telefone}">
    </p>

    <button type="submit">Salvar</button>
    <a th:href="@{/pacientes}">Voltar</a>

</form>

</body>
</html>